
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link href="/static/css/signin.css" rel="stylesheet">

    <title>Member Login Page</title>


    </head>

    <body class="text-center">
    <form class="form-signin center" method="POST" action="">
        <h1 class="h3 mb-3 font-weight-normal"><mark><strong>LOGIN PAGE</strong></mark></h1></br>
        <h2 class="h3 mb-3 font-weight-normal"><mark><strong>Welcome, Dear Member</strong></mark></h2></br>
        <label for="inputID" class="sr-only"><b>Student ID: </b></label>
        {{form.hidden_tag()}}   
        {{form.studentID(class="form-control")}}</br>
        <label for="Password" class="sr-only"> <b>Password :</br></b></label>
        {{form.password(class="form-control")}}</br> Remember me
        {{ form.remember }}
        </label></br></br>
        {% for message in get_flashed_messages() %}
			<div class="alert alert-dark alert-dismissible fade show" role="alert">
				{{message}}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}
        </div>
        <div class="ghost">
            {{form.submit(class="btn btn-success")}}</br>
            <a aria-pressed="true" href="{{url_for('membersignup_page')}}" id="show-login"  role="button" ></br>Create account<a>
            <a href="{{url_for('reset_request')}}" id="change password"></br>Forget password?<a></a>
            </br></br>
            <a class="btn btn-dark btn-lg active" aria-pressed="true" href="{{url_for('homelayout')}}" id="home" role="button" >Back  to mainpage</a></br>
            </div>
        </div>

    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    </body>
</html>
