<!doctype html>
<html lang="en">
    <head>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link href="/static/css/signin.css" rel="stylesheet">

    <title>Member Registration Page</title>


    </head>

    <body class="text-left">
    
    {% if id == current_user.id %}
    </br>
        <form class="form-signin center" method="POST" action="{{url_for('memberupdate',id=current_user.id, updates=updates)}}">
            <h1 class="h3 mb-3 font-weight-normal"><mark><strong>UPDATE YOUR BIODATA</strong></mark></h1></br>
        {{form.hidden_tag()}} 
        <label> Firstname : </label></br>
            {{form.firstname}}</br>

        <label> Lastname : </label></br>
            {{form.lastname}}</br>
        
        <label> Email : </label></br>
            {{form.email}}</br>

        <label> Age : </label></br>
            {{form.age}}</br>

        <label> Phonenumber : </label></br>
            {{form.phonenumber}}</br>
        
        <label> Bio : </label></br>
            {{form.bio}}</br>
        </br>
        {{form.submit23}}</br></br>

        <a href="{{url_for('memberdelete',id=current_user.id)}}" class="btn btn-danger btn-xs" onclick="return confirm('Proceed to delete?')">Delete your Account</a>

        

        {% for message in get_flashed_messages() %}
			

		{% endfor %}
        </div>
        <div class="ghost">
            <a aria-pressed="true" href="{{url_for('dashboard')}}" id="show-login"  role="button" ></br>Back to dashboard</a>
            </div>
        </div>
        </form>

        {% else %}
    <div class="alert alert-dark alert-dismissible fade show" role="alert">
        ACCESS DENIED!
    </br><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div></br>
    
    

    {% endif %}

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    </body>
</html>





